<section class="section-comment">
  <h3 class="count-comment">count comment</h3>
  <div class="comment-top">
    <a href="#"><img src="https://lh3.googleusercontent.com/-3gjg1TSDx8A/AAAAAAAAAAI/AAAAAAAAAAA/APUIFaNcn2YZ-YFZVxZxqMnAutzciPtcZA/s32-c-mo/photo.jpg" alt="imguser"></a>
    <a href="#">name User</a>
  </div>
  <div class="comment-inner">
    <span class="comment-date">March,13, Sesptember</span>
    <p class="comment-content">Hi, this is a comment.
      To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
      Commenter avatars come from Gravatar.
    </p>
    <button type="button" class="btn-1 btn-green">reply</button>
  </div>
  <div class="reply">
    <h2 class="reply-comment">leave a reply</h2>
    <!-- <form class="form-comment" [formGroup]="formComment" (ngSubmit)="comment(formComment)"> -->
      <textarea class="rep-area" name="reply-area" cols="50" rows="10" formControlName="comment"></textarea>
      <button class="btn-small btn-1 btn-green" type="submit">post comment</button>
    <!-- </form> -->
  </div>
</section>
