<div class="search">
  <div class="wrap-form">
    <form class="form-search"
          [formGroup]="formSearch"
          (ngSubmit)="search(formSearch)">
      <div class="wrap-input">
        <input formControlName="destination"
               type="text"
               class="input"
               [(ngModel)]="term"
               placeholder="Insert keyword">
      </div>
      <div class="wrap-input">
        <select formControlName="site" class="input site">
          <option name="allSite"
                  id="allSite"
                  class="option"
                  value="allSite"
                  selected>All Sites</option>
          <option *ngFor="let site of listSitesNoParent"
                  name="site.name"
                  id="site.name"
                  [value]="site._id"
                  class="option">{{site.name}}</option>
        </select>
      </div>
      <div class="wrap-input">
        <select formControlName="category" class="input category">
          <option name="category"
                  id="allCategory"
                  class="option"
                  value="allCategory"
                  selected>All Category</option>
          <option *ngFor="let category of listCategorys"
                  name="category.name"
                  id="category.name" 
                  [value]="category._id"
                  class="option">{{category.name}}</option>
        </select>
      </div>
      <div class="wrap-input">
        <button class="btn btn-green btn-medium" type="submit">Search</button>
      </div>
    </form>
    <div [@popOverState]="success" class="wrap-suggest">
      <ul class="list-result">
        <ng-container *ngFor="let result of listResultDisplay | filter:term; let i = index">
          <li class="result-item" *ngIf="i<4">
            <a routerLink="/destinations/{{result.destinationId}}">
              <div class="wrap-item-result">
                <div class="border-image">
                  <div class="img-des"
                  [ngStyle]="{'background-image': 'url(' + result.image + ')'}">
                  </div>
                </div>
                <div class="wrap-content">
                  <p class="content">{{result.name}}</p>
                  <strong class="address">{{result.address}}, {{result.site}}</strong>
                </div>
              </div>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
