<div class="search">
  <div class="wrap-form">
    <form class="form-search">
      <div class="wrap-input">
        <input type="text" class="input" placeholder="Inser keyword">
      </div>
      <div class="wrap-input">
        <select class="input site" value="">
          <option name="" id="" class="option" selected="selected">all site</option>
          <option name="" id="" class="option">1</option>
          <option name="" id="" class="option">2</option>
          <option name="" id="" class="option">3</option>
        </select>
      </div>
      <div class="wrap-input">
        <select class="input category" value="">
          <option name="" id="" class="option" selected="selected">all destination</option>
          <option name="" id="" class="option">1</option>
          <option name="" id="" class="option">2</option>
          <option name="" id="" class="option">3</option>
        </select>
      </div>
      <div class="wrap-input">
        <button class="btn btn-green btn-medium">Search</button>
      </div>
    </form>
  </div>
</div>
