<div class="site-page">
  <section class="section-site">
    <div class="container">
      <div class="wrap-detail">
        <app-card-detail></app-card-detail>
      </div>
      <h2 class="site-title">view the photos</h2>
      <div class="wrap-slider">
        <app-slider></app-slider>
      </div>
      <div class="site-list-inner">
        <h2 class="site-title">you may also like</h2>
        <ul class="site-list-destination clearfix">
          <li class="site-list-destination-item">
            <div class="site-list-card-border">
              <app-card-destination></app-card-destination>
            </div>
          </li>
          <li class="site-list-destination-item">
            <div class="site-list-card-border">
              <app-card-destination></app-card-destination>
            </div>
          </li>
          <li class="site-list-destination-item">
            <div class="site-list-card-border">
              <app-card-destination></app-card-destination>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
  