<div class="forgot-password-page">
  <div class="forgot-password-border">
    <h2 class="title">Forgot Password</h2>
    <p class="message">Recovery email address</p>
    <form class="form-forgot" [formGroup]="formForgot" (ngSubmit)="send(formForgot)">
      <input formControlName="email" class="input input-login" type="text" placeholder="Your Email">
      <p *ngIf="!isEmailValid" class="error-message block">{{errorMessage}}</p>
      <button class="btn btn-large btn-green" type="submit">Send</button>
    </form>
  </div>
</div>
