.page-404 {
  padding: 100px 0 0;
  width: 100%;
  height: calc(100vh - 140px);
  float: left;
  background-size: cover;
  text-align: center;
  background: url('/assets/images/404.jpg') no-repeat;
}
