.alldes-page {
  padding-top: 200px;
  .list-des {
    margin: -15px;
    .des-item {
      float: left;
      width: calc(100% / 3);
      padding: 15px;
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .card-destiantion .des-name{
    font-size: $font-size-1;
  }
  .card-destiantion .card-content .content {
    font-size: 14px;
  }
  .alldes-page {
    .list-des {
      .des-item {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .alldes-page {
    .list-des {
      .des-item {
        width: 100%;
      }
    }
  }
}
