.search-allsite {
  width: 100%;
  margin: 0 auto;
  padding: 85px 30px 20px;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  .form-search {
    width: 550px;
    margin: 0 auto;
    background: $w-color;
  }
  .wrap-suggest {
    width: 550px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 10px;
    float: left;
    background: $bg-color-6;
    border-radius: 4px;
    .wrap-content {
      padding: 10px;
    }
  }
  .wrap-input {
    width: 100%;
    .input {
      width: 75%;
      float: left;
      border: 1px solid;
    }
    .btn-search {
      width: 25%;
      height: 40px;
      font-size: 15px;
    }
    .fa-search {
      padding-right: 6px;
    }
  }
}

.allsite-page {
  padding: 190px 0 60px;
  .list-site {
    width: 100%;
    margin-left: -10px;
    .site-item {
      float: left;
      width: calc(100%/4);
      padding: 10px;
      box-sizing: border-box;
    }
  }
  .img-site {
    height: 230px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .list-site {
    .site-item {
      width: calc(100% / 3);
    }
  }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
  .list-site {
    .site-item {
      width: calc(100% / 2);
    }
  }
}

@media only screen and (max-width: 319px) {
  .search-allsite {
    width: 260px;
    .form-search {
      .wrap-input {
        width: 100%;
        .input {
          width: 100%;
        }
        .btn-search {
          width: 100%;
        }
      }
    }
  }
  .list-site {
    margin: 0;
    .site-item {
      width: 100%;
    }
  }
}
