.search-allsite {
  width: 100%;
  margin: 0 auto;
  padding: 85px 30px 20px;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  .form-search {
    width: 550px;
    margin: 0 auto;
    background: $w-color;
  }
  .wrap-suggest {
    width: 550px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 10px;
    background: $bg-color-6;
    border-radius: 4px;
    .wrap-content {
      padding: 10px;
    }
  }
  .wrap-input {
    width: 100%;
    .input {
      width: 75%;
      float: left;
      border: 1px solid;
    }
    .btn-search {
      width: 25%;
      height: 40px;
      font-size: 15px;
    }
    .fa-search {
      padding-right: 6px;
    }
  }
}

.allsite-page {
  padding: 190px 0 60px;
  .list-site {
    margin: 0 -10px;
    .site-item {
      float: left;
      width: calc(100%/4);
      padding: 10px;
      box-sizing: border-box;
    }
  }
  .img-site {
    height: 230px;
  }
}
@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .allsite-page {
    .list-site {
      .site-item {
        width: calc(100%/3);
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .allsite-page {
    .list-site {
      .site-item {
        width: 50%;
      }
    }
  }
  .search-allsite .form-search {
    width: 400px;
    .wrap-input .fa-search  {
      display: none;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .allsite-page {
    .list-site {
      .site-item {
        width: 100%;
      }
    }
  }
  .search-allsite .form-search {
    width: 216px;
    .wrap-input .fa-search  {
      display: block;
    }
    .span-search {
      display: none;
    }
  }
}
