.page-destimation {
  padding: 100px 0;
  .sections-decription {
    width: 80%;
    .wrap-image {
      width: 370px;
      float: left;
    }
    .background-img {
      width: 100%;
      height: 247px;
    }
    .wrap-content {
      padding: 20px;
      width: calc(100% - 370px);
      float: left;
      box-sizing: border-box;
    }
    .wrap-des {
      width: 100%;
      float: left;
    }
    .list-des-info {
      float: left;
    }
    .left-side, .right-side {
      width: 50%;
    }
    .right-side {
      text-align: center;
    }
    .info-item {
      padding-bottom: 10px;
    }
    .title-des {
      font-size: 25px;
    }
    .category {
      background: $third-color-o;
      padding: 5px 6px;
      display: inline-block;
      color: $w-color;
    }
    .fa-map-marked-alt {
      color: $bg-color-1;
    }
    .rating {
      padding: 40px 0 5px;
      font-size: 20px ;
    }
    .propose {
      width: 30%;
      margin: 0 auto;
      padding: 4px;
      background: $primary-color;
      color: $w-color;
    }
    .address {
      font-size: 13px;
      color: $txt-color-1;
    }
    .decription {
      width: 100%;
      padding: 20px 0;
      float: left;
      font-size: 14px;
    }
    .content {
      line-height: 20px;
    }
  }

  .section-image {
    padding: 35px 0;
    .title {
      padding-bottom: 20px;
      font-size: $font-size-3;
    }
    .list-image {
      width: 100%;
      float: left;
      margin: -15px;
    }
    .image-item {
      float: left;
      width: calc(100% / 5);
      cursor: pointer;
      &:hover {
        outline: 1px;
      }
    }
    .wrap-image {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
    }
    .background-img {
      width: 100%;
      height: 200px;
    }
  }
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .page-destimation {
    .sections-decription{
      width: 100%;
      .wrap-image {
        width: 100%;
      }
      .wrap-content {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .page-destimation {
    .sections-decription{
      width: 100%;
      .wrap-image {
        width: 100%;
      }
      .wrap-content {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .page-destimation {
    font-size: 10px;
    .sections-decription{
      width: 100%;
      .wrap-image {
        width: 100%;
      }
      .wrap-content {
        width: 100%;
      }
    }
    .section-image {
      .list-image {
        margin: -4px;
      }
      .image-item {
        width: 100%;
      }
    }
  }
}
