.page-login {
  padding: 100px 0 0;
  width: 100%;
  height: calc(100vh - 100px);
  float: left;
  background: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat;
  background-size: cover;
  .login-border {
    width: 30%;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 20px 50px;
    box-sizing: border-box;
    background: $bg-color-3;
  }
  .title {
    text-align: center;
    padding: 30px 0;
    font-size: $font-size-4;
  }
  .form-login {
    width: 100%;
    float: left;
  }
  .input {
    width: 100%;
    margin: 10px 0;
  }
}
