.reset-password-page {
  width: 100%;
  height: calc(100vh - 40px);
  float: left;
  background: url('./assets/images/background-balance.jpg') no-repeat;
  background-size: cover;
  .input {
    margin: 10px 0;
  }
  .forgot-password-border {
    width: 400px;
    margin: 130px auto;
    padding: 30px 15px;
    background: $w-color;
    border-radius: 5px;
    box-sizing: border-box;
    @include box-shadow(0 2px 4px 0 rgba(181,181,181,.7));
    position: relative;
    overflow: hidden;
  }
  .title {
    text-align: center;
    font-size: $font-size-4;
    padding: 20px 0; 
  }
  .form-forgot {
    width: 100%;
  }
  .input {
    width: 100%;
    border-radius: 4px;
    background: $w-color;
    border-color: $border-color-3;
  }
  .error-message {
    margin: 7px 0;
  }
  .btn-large {
    display: block;
    margin: 10px auto;
    border-radius: 4px;
  }
  .message {
    font-size: $font-size-1;
    padding: 10px 0;
  }
}
