<div class="forgot-password-page">
  <div class="forgot-password-border">
    <h2 class="title">Reset Password</h2>
    <form class="form-login" [formGroup]="formReset" (ngSubmit)="reset(formReset)">
      <input class="input input-login" type="text" placeholder="User Name" formControlName="userName">
      <p class="error-message display-none">{{userNameValidate()}}</p>
      <input class="input input-login" type="password" placeholder="Password" formControlName="password">
      <p class="error-message display-none">{{passwordValidate()}}</p>
      <button class="btn btn-large btn-green" type="submit" [disabled]="!formReset.valid">reset</button>
    </form>
  </div>
</div>
