<div class="reset-password-page">
  <div class="forgot-password-border">
    <div class="head"></div>
    <div *ngIf="loader" class="loader"></div>
    <h2 class="title">Reset Password</h2>
    <form class="form-login" [formGroup]="formReset" (ngSubmit)="reset(formReset)">
      <input class="input input-login" type="password" placeholder="New Password" formControlName="password">
      <p class="error-message display-none">{{passwordValidate()}}</p>
      <input class="input input-login" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
      <p class="error-message display-none">{{confirmPasswordValidate()}}</p>
      <button class="btn btn-large btn-green" type="submit" [disabled]="!formReset.valid">reset</button>
    </form>
  </div>
</div>
