<div class="detail-title-inner">
  <ul class="detail-title-list clearfix">
    <li class="detail-title-item clearfix">
      <div class="detail-icon">
        <img src="../../../../assets/icon/new-file.png" alt="author">
      </div>
      <div class="title-content">
        <h4 class="title-main">weather</h4>
        <span class="title-main-des">Lorem ipsum dolor sit amet, consec dolor sit amet anis po.</span>
      </div>
    </li>
    <li class="detail-title-item clearfix">
      <div class="detail-icon">
        <img src="../../../../assets/icon/icon-typology.png" alt="typology">
      </div>
      <div class="title-content">
        <h4 class="title-main">time</h4>
        <span class="title-main-des">Lorem ipsum dolor sit amet, consec dolor sit amet anis po.</span>
      </div>
    </li>
    <li class="detail-title-item clearfix">
      <div class="detail-icon">
        <img src="../../../../assets/icon/icon-destination.png" alt="des">
      </div>
      <div class="title-content">
        <h4 class="title-main">voted</h4>
        <span class="title-main-des">{{site.rating}}</span>
      </div>
    </li>
  </ul>
</div>
