<footer class="page-footer">
  <div class="container">
    <div class="footer-top">
      <ul class="footer-list clearfix">
        <li class="footer-list-item">
          <h3 class="footer-title">phone support</h3>
          <span class="footer-description">24 hour a day</span>
          <span class="footer-phone">+ 01 234 567 890</span>
        </li>
        <li class="footer-list-item">
          <h3 class="footer-title">connect with us</h3>
          <span class="footer-description">social media channels</span>
          <ul class="footer-social">
            <li class="footer-social-item">
              <a>
                <i class="fab fa-google-plus-square"></i>
              </a>
            </li>
            <li class="footer-social-item">
              <a>
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="footer-social-item">
              <a>
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li class="footer-social-item">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item">
          <h3 class="footer-title">newsletter</h3>
          <span class="footer-description">sign up for special offers</span>
          <form action="post">
            <input type="text" class="input" name="email" placeholder="Email">
            <button class="btn-medium btn-green">subscribe</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</footer>
