<footer class="page-footer">
  <div class="container">
    <div class="footer-top">
      <ul class="footer-list clearfix">
        <li class="footer-list-item">
          <h3 class="footer-title">phone support</h3>
          <span class="footer-description">24 hour a day</span>
          <span class="footer-phone">+ 01 234 567 890</span>
        </li>
        <li class="footer-list-item">
          <h3 class="footer-title">connect with us</h3>
          <span class="footer-description">social media channels</span>
          <ul class="footer-social">
            <li class="footer-social-item"><a href="#"><img class="footer-icon" src="../../../../assets/icon/google-plus.png" alt="icon-gg"></a></li>
            <li class="footer-social-item"><a href="#"><img class="footer-icon" src="../../../../assets/icon/html.png" alt="icon-html"></a></li>
            <li class="footer-social-item"><a href="#"><img class="footer-icon" src="../../../../assets/icon/youtube.png" alt="icon-youtube"></a></li>
            <li class="footer-social-item"><a href="#"><img class="footer-icon" src="../../../../assets/icon/github.png" alt="icon-github"></a></li>
          </ul>
        </li>
        <li class="footer-list-item">
          <h3 class="footer-title">newsletter</h3>
          <span class="footer-description">sign up for special offers</span>
          <form action="post">
            <input type="text" class="input" name="email" placeholder="Email">
            <button class="btn-medium btn-green">subscribe</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</footer>
