body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.main-page {
  padding: 40px 0;
}

.clearfix {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.title-center {
  font-size: $font-size-5;
  color: $txt-color-1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.title-small {
  font-size: $font-size-1;
  color: $border-color-1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

a {
  color: $txt-color-1;
}
