body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $w-color; 
}

::-webkit-scrollbar-thumb {
  background: $bg-color-7; 
}

::-webkit-scrollbar-thumb:hover {
  background: $bg-color-1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.main-page {
  padding: 40px 0 0;
}

.clearfix {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.title-center {
  font-size: $font-size-5;
  color: $txt-color-1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.title-small {
  font-size: $font-size-2;
  color: $border-color-1;
  text-align: center;
  font-weight: 300;
}

.background {
  @include background-size(cover);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

a {
  color: $txt-color-1;
  cursor: pointer;
  text-transform: capitalize;
}
