%clr {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

%btn {
  color: $w-color;
  font-size: $font-size-1;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: 0;
  cursor: pointer;
}
