%clr {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

%btn {
  color: $w-color;
  font-size: $font-size-1;
  letter-spacing: 2px;
  text-align: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

%message {
  font-size: 13px;
  color: #0a0a0a;
  background-color: #eae8e8;
  padding: 10px;
}