$primary-color: #1bbc9b;
$second-color: #ffd205;
$third-color: #14b9d5;
$four-color: #f76570;

$primary-color-o: #20dfb9;
$second-color-o: #ffd000;
$third-color-o: #16cae9;
$four-color-o: #f20d20;

$color-1: #f3a46b;
$color-2: #ba71da;
$w-color: #fff;

$bg-color-1: #434a54;
$bg-color-2: #ffffff1a;
$bg-color-3: #4a515b;
$bg-color-hover: #ebe9eb;
$bg-color-3: #f9f9f9;

$font-size: 0.7333rem; //11px
$font-size-0: 0.8rem; //12px
$font-size-1: 1rem; //15px
$font-size-2: 1.0666rem; //16px
$font-size-3: 1.1333rem; //17px
$font-size-4: 1.8666rem; //28px
$font-size-5: 2rem; //30px
$font-size-6: 3rem;

$txt-color-1: #5e6d81;
$txt-color-2: #a3a3a3;
$txt-color-3: #a4a4a4;
$txt-input-color-1: #4a515b;

$border-color-1: #a4a4a4;
$border-color-2: #f1f1f1;
$border-color-3: #e2dfdf;
