$primary-color: #1bbc9b;
$second-color: #ffd205;
$third-color: #14b9d5;
$four-color: #f76570;

$color-1: #f3a46b;
$color-2: #ba71da;

$bg-color-1: #434a54;

$font-size: 0.7rem;
$font-size: 0.8rem;
$font-size-1: 1rem;
$font-size-2: 1.01rem;
$font-size-3: 1.13rem;
$font-size-4: 1.87rem;

$txt-color-1: #5e6d81; 
