<section class="section-timeline">
  <div class="wrap-timeline">
    <h4 class="title">tilte</h4>
    <div class="timeline">
      <ul class="timeline-list">
        <li class="timeline-item">
          <div class="content">
            <ul class="list-date">
              <li class="time-item clearfix">
                <div class="image-border">
                  <div class="img-des"
                  style="background-image: url('https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&h=650&w=940')"></div>
                </div>
                <div class="info-timeline">
                  <div class="wrap-date-time clearfix">
                    <p class="time-end">
                      <span class="time">11:10</span></p>
                    <p class="time-start">
                      <span class="time">10:10~</span></p>
                  </div>
                  <div class="destination-info">
                    <p class="destinations">Bún Bò Huế Bà Thương</p>
                    <p class="addess">23 Trần Quốc Toản</p>
                    <p class="sites">hai chau, da nang</p>
                  </div>
                </div>
              </li>
              <li class="time-item clearfix">
                <div class="wrap-date-time clearfix">
                  <p class="time-start">10:10</p>
                  <p class="time-end">11:10</p>
                </div>
                <div class="destination-info">
                  <div class="background-image"></div>
                  <p class="destinations">Bún Bò Huế Bà Thương</p>
                  <p class="addess">23 Trần Quốc Toản</p>
                </div>
              </li>
              <li class="time-item clearfix">
                <div class="wrap-date-time clearfix">
                  <p class="time-start">10:10</p>
                  <p class="time-end">11:10</p>
                </div>
                <div class="destination-info">
                  <div class="background-image"></div>
                  <p class="destinations">Bún Bò Huế Bà Thương</p>
                  <p class="addess">23 Trần Quốc Toản</p>
                </div>
              </li>
              <li class="time-item clearfix">
                <div class="wrap-date-time clearfix">
                  <p class="time-start">10:10</p>
                  <p class="time-end">11:10</p>
                </div>
                <div class="destination-info">
                  <div class="background-image"></div>
                  <p class="destinations">Bún Bò Huế Bà Thương</p>
                  <p class="addess">23 Trần Quốc Toản</p>
                </div>
              </li>    
            </ul>
          </div>
          <div class="wrap-date">
            <h4 class="date">10/10/2020</h4>
          </div>
        </li>
        <li class="timeline-item">
          <div class="content">
            <ul class="list-date">
              <li class="time-item clearfix">
                <div class="wrap-date-time clearfix">
                  <p class="time-start">10:10</p>
                  <p class="time-end">11:10</p>
                </div>
                <div class="destination-info">
                  <div class="background-image"></div>
                  <p class="destinations">Bún Bò Huế Bà Thương</p>
                  <p class="addess">23 Trần Quốc Toản</p>
                </div>
              </li>
              <li class="time-item clearfix">
                <div class="wrap-date-time clearfix">
                  <p class="time-start">10:10</p>
                  <p class="time-end">11:10</p>
                </div>
                <div class="destination-info">
                  <div class="background-image"></div>
                  <p class="destinations">Bún Bò Huế Bà Thương</p>
                  <p class="addess">23 Trần Quốc Toản</p>
                </div>
              </li>
              <li class="time-item clearfix">
                <div class="wrap-date-time clearfix">
                  <p class="time-start">10:10</p>
                  <p class="time-end">11:10</p>
                </div>
                <div class="destination-info">
                  <div class="background-image"></div>
                  <p class="destinations">Bún Bò Huế Bà Thương</p>
                  <p class="addess">23 Trần Quốc Toản</p>
                </div>
              </li>
              <li class="time-item clearfix">
                <div class="wrap-date-time clearfix">
                  <p class="time-start">10:10</p>
                  <p class="time-end">11:10</p>
                </div>
                <div class="destination-info">
                  <div class="background-image"></div>
                  <p class="destinations">Bún Bò Huế Bà Thương</p>
                  <p class="addess">23 Trần Quốc Toản</p>
                </div>
              </li>    
            </ul>
          </div>
          <div class="wrap-date">
            <h4 class="date">10/10/2020</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
