.page-footer {
  font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $bg-color-1;
  color: $w-color;
  border-top: 1px solid #f1f1f1;
  padding: 30px 0;
  width: 100%;
  float: left;
  .footer-top {
    width: 100%;
    padding: 30px 0;
  }
  .footer-social {
    .footer-social-item {
      float: left;
      width: 42px;
      padding: 10px 10px 0 0;
    }
    .fab {
      font-size: 20px;
    }
  }
  .footer-list-item {
    float: left;
    width: calc(100%/3);
  }
  .footer-title {
    font-size: $font-size-3;
    padding: 10px 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .footer-description {
    font-size: $font-size-1;
    display: block;
    padding: 10px 0;
    letter-spacing: 1px;
    color: $txt-color-2;
  }
  .footer-phone {
    font-size: 13px;
    padding: 8px 0 0;
    display: block;
  }
  .copyright {
    font-size: $font-size-0;
  }
  .btn-medium {
    height: 40px;
  }
}

@media only screen and (max-width: 1070px) {
  .page-footer {
    .footer-list-item:nth-child(3) {
      padding: 20px 0;
      width: 100%;
    }
    .input {
      width: 45%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .page-footer {
    .footer-list-item {
      padding: 20px 0;
      width: 100%;
    }
  }
}
