<main class="page-search">
  <div class="wrap-background">
    <app-header-background></app-header-background>
  </div>
  <div class="container">
    <div class="search-main clearfix">
      <div class="wrap-sidebar">
        <div class="sidebar-top">
          <h3 class="sidebar-title">Select your destination</h3>
          
        </div>
      </div>
      <section class="wrap-destination">
        <ul class="wrap-des-list clearfix">
          <li class="wrap-des-item">
            <app-card-destination></app-card-destination>
          </li>
          <li class="wrap-des-item">
            <app-card-destination></app-card-destination>
          </li>
          <li class="wrap-des-item">
            <app-card-destination></app-card-destination>
          </li>
          <li class="wrap-des-item">
            <app-card-destination></app-card-destination>
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
