<main class="main-page">
    <div class="search-allsite clearfix">
        <form class="form-search"
        [formGroup]="formSearch"
        (ngSubmit)="search(formSearch)">
          <div class="wrap-input">
            <input formControlName="destination"
            type="text"
            class="input"
            placeholder="Insert keyword">
          </div>
          <div class="wrap-input">
            <button class="btn btn-green btn-medium btn-search" type="submit"><i class="fas fa-search"></i>Search</button>
          </div>
        </form>
        <div [@popOverState]="success" class="wrap-suggest" *ngIf="state">
            <ul class="list-result">
              <ng-container>
                  <li class="result-item" *ngFor="let item of listDesSearch | filter:term; let i = index">
                      <a routerLink="/destinations/{{item._id}}">
                      <div class="wrap-item-result">
                        <div class="wrap-content">
                          <p class="content">{{item.name}}</p>
                        </div>
                      </div>
                    </a>
                  </li>
              </ng-container>
              <li class="result-item" *ngIf="( listDesSearch | filter:term ).length === 0">No matching elements</li>
            </ul>
        </div>
      </div>
  <div class="alldes-page">
    <div class="container">
      <ul class="list-des clearfix">
        <li class="des-item" *ngFor="let destinations of listDestinations">
          <div class="card-border">
            <app-card-destination [destination]=destinations></app-card-destination>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
<app-footer></app-footer>
