<div class="home-page">
  <section class="secion-search">
    <div class="wrap-slider">
      <app-slider></app-slider>
      <div class="wrap-search">
        <app-search class="wrap-search"></app-search>
      </div>
    </div>
  </section>
  <section class="section-most-destination">
    <div class="container">
      <h3 class="title-center">Most Destination</h3>
      <p class="title-small">best destination available</p>
      <ul class="list-destination">
        <li class="destination-item">
          <div class="card-border">
            <app-card-destination></app-card-destination>
          </div>
        </li>
        <li class="destination-item">
          <div class="card-border">
            <app-card-destination></app-card-destination>
          </div>
        </li>
        <li class="destination-item">
          <div class="card-border">
            <app-card-destination></app-card-destination>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-site">
    <div class="container">
      <h3 class="title-center">Most Site</h3>
      <p class="title-small">best site available</p>
      <ul class="list-site">
        <li class="site-item" *ngFor="let site of listSite">
          <div class="card-border">
            <app-card-site [site]="site"></app-card-site>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-article">
    <div class="container">
      <h3 class="title-center">Most Article</h3>
      <p class="title-small">best article available</p>
      <ul class="list-article">
        <li class="article-item">
          <div class="card-boder">
            <app-tour></app-tour>
          </div>
        </li>
        <li class="article-item">
          <div class="card-boder">
            <app-article></app-article>
          </div>
        </li>
        <li class="article-item">
          <div class="card-boder">
            <app-article></app-article>
          </div>
        </li>
        <li class="article-item">
          <div class="card-boder">
            <app-article></app-article>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
