<div class="slider">
  <swiper [config]="config">
    <div *ngIf="listImgAfterFetch" class="swiper-wrapper">
      <ng-container *ngFor="let img of listImgAfterFetch">
        <div class="swiper-slide slider-img"
        [ngStyle]="{'background-image': 'url(' + img.backgroundImg + ')'}">
          <p *ngIf="img.name" class="slide-title">{{img.name}}</p>
        </div>
      </ng-container>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>
