<div class="slider">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-img"
      style="background-image: url('https://images.pexels.com/photos/68491/pexels-photo-68491.jpeg')">
        <p class="slide-title">Title</p>
      </div>
      <div class="swiper-slide slider-img"
      style="background-image: url('https://images.pexels.com/photos/68491/pexels-photo-68491.jpeg')">
        <p class="slide-title">Title</p>
      </div>
      <div class="swiper-slide slider-img"
      style="background-image: url('https://images.pexels.com/photos/68491/pexels-photo-68491.jpeg')">
        <p class="slide-title">Title</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>

