<div class="page-user">
  <div class="container">
    <section class="section-info">
      <div class="wrap-info">
        <div class="wrap-avatar">
          <div class="avatar"
          style="background-image: url('../../../../assets/images/default-avt.jpg')">
          </div>
        </div>
        <div class="info">
          <ul class="list-info">
            <li class="info-item">
              <h4 class="user-name">user name</h4>
            </li>
            <li class="info-item">
              <p class="email">email@gmail.com</p>
            </li>
            <li class="info-item">
              <ul class="list">
                <li class="item">
                  <span class="label">Name:</span>
                  <span class="name"> name</span>
                </li>
                <li class="item">
                  <span class="label">Age:</span>
                  <span class="age"> 18</span>
                </li>
              </ul>
            </li>
            <li class="info-item">
              <span class="label">hobby:</span>
              <span class="hobby"> slepp, eat</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-tab">
      <div class="wrap-tab-menu">
        <ul class="list-menu">
          <li class="menu-item">
            <a routerLink="pictures">Picture</a>
          </li>
          <li class="menu-item">
            <a routerLink="plan">Plan</a>
          </li>
        </ul>
      </div>
      <div class="wrap-content">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>
