<div class="main-page">
  <section class="section-plan-page">
    <div class="plan-top" style="background-image: url('./assets/images/business_planning.jpg')">
      <div class="container plan-top-top">
          <h1 class="plan-name">our trip 2018</h1>
          <span class="plan-change-bg">change cover photo</span>
      </div>      
    </div>
    <div class="plan-bottom container">
      <aside class="plan-date">
        <nav class="trip-date-list">
          <ul class="date-list">
            <li class="date-item">
              <h4 class="date-month">sep 12</h4>
              <h2 class="day">wednesday</h2>
            </li>
          </ul>
        </nav>
        <div class="trip-days-action">
          <button class="add-day">new day</button>
        </div>
      </aside>
      <div class="plan-main">
        <header class="plan-main-head">
          <div class="main-head clearfix">
            <div class="head-date">
              <h4 class="head-date-month">sep</h4>
              <h3 class="head-date-day">13</h3>
            </div>
            <div class="head-day">
              <h2 class="head-day-day">thursday</h2>
            </div>
            <div class="head-button">
              <button class="btn-add-envent">new event</button>
            </div>
          </div>
        </header>
        <main class="plan-main-inner">
          <ul class="main-list">
            <li class="main-item">
              <div class="icon-activity">
                <img src="" alt="">
              </div>
              <div class="main-time">
                <span></span>
                <span class="main-time-time">12:00</span>
                <h4 class="main-activity">check-in</h4>
              </div>
              <div class="main-content">
                <h2 class="main-title">check in at marial</h2>
                <div class="link-des">
                  <a href="#">
                    <span class="link-des-name">mariaT</span>
                    <span class="link-des-des">lavalle 687, buenos aries</span>
                  </a>
                </div>
              </div>
            </li>
            <li class="main-item">
                <div class="icon-activity">
                  <img src="" alt="">
                </div>
                <div class="main-time">
                  <span>icon</span>
                  <span class="main-time-time">12:00</span>
                  <h4 class="main-activity">check-in</h4>
                </div>
                <div class="main-content">
                  <h2 class="main-title">check in at marial</h2>
                  <div class="link-des">
                    <a href="#">
                      <span class="link-des-name">mariaT</span>
                      <span class="link-des-des">lavalle 687, buenos aries</span>
                    </a>
                  </div>
                </div>
              </li>
          </ul>
        </main>
      </div>
    </div>
  </section>
</div>
