<div class="plan">
  <div class="wrap-plan">
    <div class="wrap-message">
      <p class="message">Can Not Found</p>
      <button class="btn btn-medium btn-green" 
      (click)="openForm()">Create your plan</button>
    </div>
  </div>
  <div class="wrap-form" [@popOverState]="success">
    <form class="date-form" [formGroup]="formDate">
      <i class="far fa-calendar-alt"></i>
      <input placeholder="Date:"
        class="input-plan"
        formControlName="start"
        [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
      <span class="to">to</span>
      <input placeholder="Date:"
        class="input-plan"
        formControlName="end"
        [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
    </form>
  </div>
  <div *ngIf="listDate.length" class="wrap-create-plan">
    <app-tabs>
      <app-tab *ngFor="let tab of listDate" 
        [tabtitle]="tab"
        [listSite]="listSite"
        [listCategory]="listCategory">
      </app-tab>
    </app-tabs>
  </div>
</div>
