<article class="article-row clearfix">
  <div class="article-img" *ngIf="article" routerLink="/article/{{article._id}}">
    <div class="article-img-inner"
    [ngStyle]="{'background-image': 'url(' + imgafetchUrl + ')'}">
    </div>
  </div>
  <div class="article-row-content">
    <div class="wrap-title">
      <h2 class="article-row-title">
        <a routerLink="/article/{{article._id}}">{{article.title}}</a>
      </h2>
    </div>
    <p class="article-row-description">{{article.descriptions | truncate : 100}}</p>
    <div class="article-button" routerLink="/article/{{article._id}}">
      <span class="title">read more</span>
      <i class="fas fa-chevron-circle-right"></i>
    </div>
  </div>
</article>
