<div class="register-page">
  <div class="form-border">
    <div class="head"></div>
    <div *ngIf="loader" class="loader"></div>
    <div class="wrap-logo">
      <div class="logo-border">
        <a><img class="logo" src="../../../../assets/images/logo.png" alt="logo"></a>
      </div>
      <p class="text">Travel is the best</p>
    </div>
    <h2 class="title">Register</h2>
    <form class="form-register">
      <div class="left-side">
        <input class="input input-login" name="name" type="text" placeholder="Your Name">
        <input class="input input-login" name="age" type="number" placeholder="Your Age">
        <input class="input input-login" name="email" type="text" placeholder="Your Email">
        <input class="input input-login" name="hobbies" type="text" placeholder="Your Hobbies">
      </div>
      <div class="right-side">
        <input class="input input-login" name="userName" type="text" placeholder="User Name">
        <input class="input input-login" name="password" type="password" placeholder="Password">
        <button class="btn btn-medium btn-green">register</button>
      </div>
    </form>
  </div>
</div>
