<div class="register-page">
  <div class="form-border">
    <div class="head"></div>
    <div *ngIf="loader" class="loader"></div>
    <div class="wrap-logo">
      <div class="logo-border">
        <a><img class="logo" src="../../../../assets/images/logo.png" alt="logo"></a>
      </div>
      <p class="text">Travel is the best</p>
    </div>
    <h2 class="title">Register</h2>
    <form class="form-register" [formGroup]="formRegister" (ngSubmit)="singIn(formRegister)">
      <div class="left-side">
        <label class="label" for="name">Your Name</label>
        <input class="input input-login"
          id="name"
          name="name"
          type="text"
          placeholder="Your Name"
          formControlName="name">
        <label class="label" for="age">Age</label>
        <input class="input input-login"
          id="age"
          name="age"
          type="number"
          placeholder="Your Age"
          formControlName="age">
        <label class="label" for="email">Your email</label>
        <input class="input input-login"
          id="email"
          name="email"
          type="text"
          placeholder="Your Email"
          formControlName="email">
        <p class="error-message display-none">{{emailValidate()}}</p>
        <label class="label" for="hobbies">Your Hobbies</label>
        <input class="input input-login"
          id="hobbies"
          name="hobbies"
          type="text"
          placeholder="Your Hobbies"
          formControlName="hobbies">
      </div>
      <div class="right-side">
        <label class="label" for="userName">Your Username</label>
        <input class="input input-login"
          id="userName"
          name="userName"
          type="text"
          placeholder="User Name"
          formControlName="userName">
        <p class="error-message display-none">{{userNameValidate()}}</p>
        <label class="label" for="password">Password</label>
        <input class="input input-login"
          id="password"
          name="password"
          type="password"
          placeholder="Password"
          formControlName="password">
          <p class="error-message display-none">{{passwordValidate()}}</p>
        <button type="submit"
                [disabled]="!formRegister.valid"
                class="btn btn-medium btn-green">register</button>
      </div>
    </form>
  </div>
</div>
