<div class="page-login">
  <div class="login-border">
    <h2 class="title">Login</h2>
    <form class="form-login" action="POST" (ngSubmit)="login()" #loginForm="ngForm">
      <input class="input input-login" type="text" name="userName" placeholder="User Name" formControlName="userName">
      <input class="input input-login" type="password" name="password" placeholder="Password" formControlName="password">
      <button class="btn btn-medium btn-green" type="submit">login</button>      
    </form>
  </div>
</div>
