<div class="card-destiantion">
  <div class="image-border">
    <div class="img-des"
    [ngStyle]="{'background-image': 'url(' + imgafetchUrl + ')'}"></div>
  </div>
  <div class="card-bottom">
    <h3 class="des-name"><a class="des-name-a" 
    routerLink="/destinations/{{destination._id}}">{{destination.name}}</a></h3>
    <div class="left-side wrap-info" [ngStyle]="{'background-color': getColor()}">
      <span *ngIf="parentSite" class="site-name">{{parentSite.name}}</span>
    </div>
    <div class="right-side wrap-info while-alpha" [ngStyle]="{'background-color': getColor()}">
      <span class="category-name">{{destination.categorys[0].name}}</span>
    </div>
  </div>
  <div class="card-content">
    <p class="content">{{destination.description | truncate : 150}}</p>
    <button class="btn-medium btn-detail btn-detail-destination"
    routerLink="/destinations/{{destination._id}}">Details</button>
  </div>
</div>
