<div class="card-destiantion">
  <div class="image-border">
    <div class="img-des"
    [ngStyle]="{'background-image': 'url(' + imgafetchUrl + ')'}"></div>
  </div>
  <div class="card-bottom">
    <h3 class="des-name"><a class="des-name-a" href="javascript:void(0)">name</a></h3>
    <div class="left-side wrap-info">
      <span class="site-name">site</span>
    </div>
    <div class="right-side wrap-info while-alpha">
      <span class="category-name">category</span>
    </div>
  </div>
  <div class="card-content">
    <p class="content"></p>
    <button class="btn-medium btn-detail">Details</button>
  </div>
</div>
