.detail-article {
  .detail-content {
    .detail-content-main {
      line-height: 30px;
      color: $border-color-1;
      &::first-letter {
        font-size: $font-size-4;
      }
    }
    .title-lg {
      color: #222;
        font-size: $font-size-3;
    }
    .row {
      color: #5a5a5a;
    }
    p {
      color: #222;
    }
    p img {
      width: 100%;
    }
  }
}
