.input {
  height: 40px;
  border: none;
  background: $bg-color-2;
  color: $txt-color-1;
  padding: 10px;
  outline: none;
  font-size: $font-size-1;
  box-sizing: border-box;
}

.input-login {
  border: solid 1px $txt-color-2;
}
