.notifi {
  position: fixed;
  z-index: 1000;
  top: 100px;
  right: 20px;
  .box-message {
    width: 400px;
    height: 50px;
    padding: 0 15px;
    color: $w-color;
    border-radius: 5px;
    font-size: $font-size-0;
  }
  .message {
    line-height: 50px;
  }
  .icon-disable {
    padding: 16px 0;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
}
