.plan {
  width: 100%;
  float: left;
  background: $w-color;
  .wrap-message {
    text-align: center;
    padding: 50px 0;
  }
  .message {
    padding-bottom: 20px;
    font-size: 19px;
    color: $txt-color-3;
    border-radius: 4px;
    font-weight: 400;
  }
  .btn-medium {
    border-radius: 3px;
  }
  .wrap-form {
    padding: 10px 30px 20px;
    text-align: center;
  }
  .fa-calendar-alt {
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    color: $bg-color-1;
  }
  .to {
    padding: 6px 10px;
    box-sizing: border-box;
    border-left: 0;
    border-right: 0;
    font-size: $font-size-1;
    font-weight: bold;
    color: $txt-color-2;
  }
  .wrap-create-plan {
    width: 100%;
    float: left;
  }
  .wrap-menu-date {
    padding: 20px 0;
    width: 20%;
    box-sizing: border-box;
    float: left;
  }
  .date-item {
    padding: 25px;
    border-left: solid 2px;
    background: $bg-color-3;
    cursor: pointer;
    a {
      font-weight: bold;
    }
    &:hover {
      background: $bg-color-hover !important;
    }
  }

  .wrap-form-plan {
    width: 100%;
    float: left;
  }
  .wrap-content {
    width: 80%;
    padding: 20px 40px;
    float: left;
    box-sizing: border-box;
  }
  .wrap-input-time {
    width: 100%;
    float: left;
  }
  .wrap-input-des {
    margin-top: 20px;
    width: 100%;
    float: left;
  }
  .btn-divi {
    padding: 7px 34px;
    border-radius: 3px;
  }
  .fa-minus {
    padding: 0 10px;
  }
  .input-time {
    float: left;
    margin-right: 20px;
    width: 90px;
  }
  .input-des {
    float: left;
    width: 80%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .form-plan {
    .btn-medium {
      float: left;
      margin-right: 5px;
      border: solid 1px;
    }
  }
  .wrap-item-form {
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
    float: left;
    border-bottom: solid 1px #d8d8d8;
  }
  .wrap-suggest {
    width: 80%;
    max-height: 264px;
    padding: 0 10px;
    float: left;
    background: $bg-color-6;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: scroll;
    .border-image {
      width: 20%;
      float: left;
    }
    .result-item {
      width: 100%;
      float: left;
      padding-bottom: 10px;
    }
    .result-item:nth-child(1) {
      padding: 10px 0;
    }
    .img-des {
      width: 100%;
      height: 75px;
      background-size: cover;
      position: relative;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 3px;
    }
    .wrap-content {
      float: left;
      width: 80%;
      padding: 5px 20px 10px;
      line-height: 20px;
      font-size: 15px;
      @include hover-transition(all 100ms ease-in-out);
    }
    .action {
      width: 100%;
      float: left;
    }
    .read-more, .choice {
      font-size: 13px;
      a {
        color: $primary-color;
      }
    }
    .read-more {
      float: left;
    }
    .choice {
      padding-left: 25px;
      float: left;
    }
  }

  .wrap-content-result {
    float: left;
    width: 70%;
    .content {
      font-size: 15px;

    }
    .time {
      float: left;
    }
    .end {
      padding-left: 10px;
    }
    .wrap-des-info {
      float: left;
      width: 100%;
    }
    .info-item {
      margin-bottom: 15px;
      line-height: 25px;
      padding: 10px;
      width: 100%;
      border: solid 2px;
      border-radius: 3px;
      border-color: $primary-color;
      background: #f9f9f9;
    }
  }
  .wrap-btn-save {
    float: left;
  }
  .btn-save-all {
    padding: 20px 15px;
    font-size: 13px;
  }
}
