.slider {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    height: 18px;
    width: 18px;
  }
  .swiper-pagination-bullet {
    background-color: $w-color;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    background-color: $primary-color;
    opacity: 1;
  }
  .swiper-wrapper {
    box-sizing: border-box;
  }
    .swiper-button-next {
      right: 44px !important;
      &::after {
        content: '';
        display: block;
        height: 186px;
        opacity: 0.5;
        background-color: $b-color;
        width: 60px;
        left: -18px;
        position: absolute;
        top: -64px;
      }
    }
    .swiper-button-prev {
      left: 44px !important;
      &::after {
        content: '';
        display: block;
        height: 186px;
        opacity: 0.5;
        background-color: $b-color;
        width: 60px;
        right: -18px;
        position: absolute;
        top: -64px;
      }
    }

  .swiper-slide {
    width: 100%;
    @include background-size(cover);
    position: relative;
    background-position: 30% 30%;
    background-repeat: no-repeat;
  }
  .slide-title {
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    top: 36%;
    left: 50%;
    font-size: $font-size-6;
    color: $w-color;
    transform: translateX(-50%);
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    right: 38px;
    width: 26px;
    height: 20px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 320px ) {
  .slider .slide-title {
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%));
    font-size: 2rem;
  }
}
