.section-timeline {
  .user {
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    .user-avatar {
      width: 60px;
      height: 60px;
      float: left;
      @include background-size(cover);
      position: relative;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
    .user-text {
      float: left;
      padding: 15px;
    }
    .time-create {
      padding-top: 5px;
      font-size: 13px
    }
    .action {
      float: right;
    }
    .btn-edit {
      margin-left: 10px;
      padding: 5px 12px;
      border: solid 1px;
      border-color: $primary-color;
      border-radius: 4px;
      background: white;
      color: $primary-color;
      font-size: 13px;
    }
  }
  .timeline {
    width: 100%;
    float: left;
    padding: 10px 0;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 15px 0;
    background: $w-color;
  
  }
  .timeline-list {
    width: 100%;
    float: left;
    padding-top: 20px;
    position: relative;
    &::before {
      content: '';
      width: 2px;
      height: 90%;
      position: absolute;
      left: 50%;
      background: $bg-color-8;
    }
  }
 .timeline-item {
   width: 50%;
   position: relative;
   padding: 20px 40px;
   line-height: normal;
   box-sizing: border-box;
   &:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
    &::before {
      content: '';
      position: absolute;
      top: 24px;
      right: -6px;
      width: 10px;
      height: 10px;
      background: $primary-color;
      border-radius: 50%; 
      box-shadow: 0 0 0 3px #1bbc9b6b;
    }
    .date {
      position: absolute;
      top: 12px;
      right: -165px;
      margin: 0;
      padding: 8px 16px;
    }
    .list-date {
      .time-start, .time-end {
        float: right;
      }
    }
    .time-item {
      float: right;
    }
    .img-des {
      float: right;
    }
    .image-border {
      float: right;
    }
    .info-timeline {
      float: right;
    }
    .category {
      float: right;
    }
    .time-end {
      padding-right: 5px;
    }
   }
   &:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
    &::before {
      content: '';
      position: absolute;
      top: 24px;
      left: -4px;
      width: 10px;
      height: 10px;
      background: $primary-color;
      border-radius: 50%;
      box-shadow: 0 0 0 3px #1bbc9b6b;
     }
     .date {
      position: absolute;
      top: 12px;
      left: -165px;
      margin: 0;
      padding: 8px 16px;
     }
     .list-date {
      .time-start, .time-end {
        float: left;
      }
    }
    .info-timeline {
      float: left;
    }
    .time-item {
      float: left;
    }
    .img-des {
      float: left;
    }
    .image-border {
      float: left;
    }
    .category {
      float: left;
    }
    .time-start {
      padding-left: 5px;
    }
    .time-end {
      padding-left: 0;
    }
   }
  }
 .time-item {
  width: 90%;
  padding: 13px;
  margin-bottom: 10px;
  background: $bg-color-6;
  font-size: 14px;
  border-radius: 5px;
 }
 .time {
   font-size: 12px;
 }
 .destinations {
   font-weight: bold;
   font-size: 12px;
 }
 .addess {
   color: $txt-color-1;
   font-size: 12px;
 }
 .sites {
  color: $txt-color-1;
  font-size: 12px;
 }
 .date {
  color: $w-color;
  background: $primary-color;
  border-radius: 5px;
  font-size: 13px;
 }
 .image-border {
   width: 30%;
   box-sizing: border-box;
 }
 .info-timeline {
   width: 70%;
   padding: 5px 0;
   box-sizing: border-box;
 }
 .img-des {
  width: 70px;
  height: 70px;
  @include background-size(cover);
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  }
  .category {
    background: $third-color;
    color: $w-color;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 2px;
  }
}
