<div class="wrap-background-header">
  <app-header-background [site]="backgroundHeader"></app-header-background>
  <div class="destination-title">
    <ul class="destination-title-inner clearfix">
      <li class="des-title-item">
        <p class="wrap-des-title">
          <img src="http://0.gravatar.com/avatar/0229d779828e62328bbdbe168118a84a?s=96&d=mm&r=g" alt="img_poster">
          <span class="content-top">author</span>
        </p>
      </li>
      <li class="des-title-item">
        <p class="wrap-des-title">
          <img src="../../../assets/icon/calendar (2).png" alt="icon_date">
          <span class="content-top">time</span>
        </p>
      </li>
      <li class="des-title-item">
        <p class="wrap-des-title">
          <img src="../../../assets/icon/chat (2).png" alt="icon-comment">
          <span class="content-top">like</span>
        </p>
      </li>
    </ul>
  </div>
</div>
<section class="section-wrap">
  <div class="container">
    <div class="wrap-detail">
      <app-card-detail *ngIf="article" [article]="article"></app-card-detail>
    </div>
    <div class="wrap-comment">
      <app-comment></app-comment>
    </div>
  </div>
</section>
